<div class="authentication sign-up">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <header>
      <div class="login-header header">
        <div>
          <%= link_to '<i class="fa-solid fa-arrow-left-long"></i>'.html_safe, unauthenticated_root_path %>
        </div>
      
        <h4>Sign up</h4>

        <div class="action">
          <%= f.submit "Next" %>
        </div>
      </div>
    </header>

    <div class="input-container">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", required: true %>

      <%= f.label :photo %><br />
      <%= f.text_field :photo, placeholder: "Photo URL", required: false %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email", required: true %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password", minlength: 6, required: true %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", required: true %>
    </div>
  <% end %>
</div>
