<div class="authentication log-in">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <header>
      <div>
        <div class="login-header header">
          <%= link_to '<i class="fa-solid fa-arrow-left-long"></i>'.html_safe, unauthenticated_root_path %>
        </div>
      </div>
    </header>

    <h4>Login</h4>

    <div class="input-container">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>
    
    <div class="login-action">
      <%= f.submit "Log In" %>
    </div>

    <div class="forget-password">
      <%= link_to "Forgot password ?", new_user_password_path(current_user) %>
    </div>
  <% end %>
</div>
